asgiref==3.7.2
Django==4.2.11
django-background-tasks==1.2.5
django-crispy-forms==2.1
crispy-bootstrap4==2024.1
crispy-bootstrap5==0.7
django-crontab==0.7.1
django-widget-tweaks==1.4.12
pillow==10.3.0
six==1.16.0
sqlparse==0.4.4
tzdata==2024.1



import os
import sys

# ----- Chemin de ton projet -----
path = '/home/bouhrichmanal/libraryquiz'
if path not in sys.path:
    sys.path.append(path)

# ----- Réglage Django -----
os.environ['DJANGO_SETTINGS_MODULE'] = 'libraryquiz.settings'

# ----- Lancement de Django -----
from django.core.wsgi import get_wsgi_application
application = get_wsgi_application()